<div class="container text-center object-fit-contain">
  <div class="row mx-auto mt-5">
    <div class="col-12 d-flex justify-content-between">
      <!-- arrow left and right -->
       <div class="d-flex align-items-center">
        <button class="btn btn-secondary border-dark rounded-0 rounded-start-2">
          <i class="bi bi-arrow-left"></i>
        </button>
        <button class="btn btn-secondary border-dark rounded-0 rounded-end-2" style="--bs-text-opacity: .5;">
          <i class="bi bi-arrow-right"></i>
        </button>
       </div>
      <input type="date"
      class="form-control w-auto align-self-center">
      <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#foodBankModal">
        Food Bank
      </button>


    </div>
  </div>
  <div class="row mx-auto">
    <div class="col">
      <div class="card text-center mt-5">
        <div class="card-header fw-bold">
          (っ˘ڡ˘ς) Yum Yum (๑ᵔ⤙ᵔ๑) 
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between mx-2 my-2">
              <input type="number" class="form-control mx-1" placeholder="Quick add calories ...">
              <input type="text" class="form-control mx-1" placeholder="Description (optional) ...">
              <button class="btn btn-outline-info">
                <i class="bi bi-plus-lg fw-bold"></i>
              </button>
            </div>
            <div class="d-flex justify-content-between mx-2 my-2">
              <select class="form-select" name="foodId" required >
                <option value="">Select a food...</option>
                <option> Banana </option>
                <option> Burger </option> 
              </select>
              
              <input type="number" class="form-control mx-1" placeholder="Grams ..." required>

              <select class="form-select" name="lunchId">
                <option value="">Lunch (optional)...</option>
                <option> Breakfast </option>
                <option> Diner </option> 
              </select>
              <button class="btn btn-outline-info mx-1">
                <i class="bi bi-plus-lg fw-bold"></i>
              </button>
            </div>
          <div id="QuickAddSection">
            <div class="d-flex justify-content-between align-items-center p-2 mb-2 rounded bg-light-subtle" 
                 role="button" 
                 data-bs-toggle="collapse" 
                 data-bs-target="#QuickAddCollapse" 
                 aria-expanded="false" 
                 aria-controls="QuickAddCollapse">
              <span class="fw-bold">Quick Add</span>
              <div class="d-flex align-items-center">
                <span class="badge text-bg-primary mx-2">600 kcal</span>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse justify-content-between" id="QuickAddCollapse">
              <ul class="list-group list-group-flush text-start">
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Banana</p>
                  <p>150 g - <span class="fw-bold">100 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Burger</p>
                  <p>350 g - <span class="fw-bold">500 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div id="breakfastSection">
            <div class="d-flex justify-content-between align-items-center p-2 mb-2 rounded bg-light-subtle" 
                 role="button" 
                 data-bs-toggle="collapse" 
                 data-bs-target="#breakfastCollapse" 
                 aria-expanded="false" 
                 aria-controls="breakfastCollapse">
              <span class="fw-bold">Breakfast</span>
              <div class="d-flex align-items-center">
                <span class="badge text-bg-primary mx-2">600 kcal</span>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse justify-content-between" id="breakfastCollapse">
              <ul class="list-group list-group-flush text-start">
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Banana</p>
                  <p>150 g - <span class="fw-bold">100 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Burger</p>
                  <p>350 g - <span class="fw-bold">500 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div id="lunchSection">
            <div class="d-flex justify-content-between align-items-center p-2 mb-2 rounded bg-light-subtle" 
                 role="button" 
                 data-bs-toggle="collapse" 
                 data-bs-target="#lunchCollapse" 
                 aria-expanded="false" 
                 aria-controls="lunchCollapse">
              <span class="fw-bold">Lunch</span>
              <div class="d-flex align-items-center">
                <span class="badge text-bg-primary mx-2">600 kcal</span>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse justify-content-between" id="lunchCollapse">
              <ul class="list-group list-group-flush text-start">
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Banana</p>
                  <p>150 g - <span class="fw-bold">100 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Burger</p>
                  <p>350 g - <span class="fw-bold">500 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <div id="dinerSection">
            <div class="d-flex justify-content-between align-items-center p-2 mb-2 rounded bg-light-subtle" 
                 role="button" 
                 data-bs-toggle="collapse" 
                 data-bs-target="#dinerCollapse" 
                 aria-expanded="false" 
                 aria-controls="dinerCollapse">
              <span class="fw-bold">Diner</span>
              <div class="d-flex align-items-center">
                <span class="badge text-bg-primary mx-2">600 kcal</span>
                <i class="bi bi-chevron-down"></i>
              </div>
            </div>
            <div class="collapse justify-content-between" id="dinerCollapse">
              <ul class="list-group list-group-flush text-start">
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Banana</p>
                  <p>150 g - <span class="fw-bold">100 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <p class="fw-bold">Burger</p>
                  <p>350 g - <span class="fw-bold">500 kcal</span>
                    <span class="pt-5">
                      <i class="bi bi-x-circle fw-bold mx-1 cursor-pointer"></i>
                    </span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

<!-- Food Bank Modal -->
<div class="modal fade" id="foodBankModal" tabindex="-1" aria-labelledby="foodBankModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark">
      <div class="modal-header border-secondary">
        <h5 class="modal-title" id="foodBankModalLabel">Food Bank</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Search and Add Section -->
        <div class="d-flex justify-content-between mb-3">
          <div class="input-group w-75">
            <span class="input-group-text bg-dark text-light border-secondary">
              <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control bg-dark text-light border-secondary" placeholder="Search foods...">
          </div>
          <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#addFoodCollapse">
            <i class="bi bi-plus-lg"></i> Add Food
          </button>
        </div>
        <!-- Add Food Collapse Section -->
        <div class="collapse mb-3" id="addFoodCollapse">
          <div class="card bg-body-tertiary border-secondary-subtle">
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="foodName">Food Name*</label>
                    <input id="foodName" name="foodName" [(ngModel)]="foodName" (ngModelChange)="checkNameExists()"
                    placeholder="Food Name..." type="text" class="form-control bg-dark text-light border-secondary" required>
                    <span *ngIf="nameExists" class="text-danger fw-bold">
                      This food already exists
                    </span>
                    <!-- si c'est vide ou undefined -->
                    <span *ngIf="foodName.length === 0 || foodName === undefined" class="text-danger fw-bold">
                      Food name cannot be empty
                    </span>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="calories">Calories/100g*</label>
                    <input id="calories" name="calories" [(ngModel)]="foodCalories" (ngModelChange)="checkCalories()" placeholder="Calories..." type="number" class="form-control bg-dark text-light border-secondary" required>
                    <span *ngIf="caloriesEmpty" class="text-danger fw-bold">
                      Calories cannot be empty
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <label for="protein">Protein (g)</label>
                    <input id="protein" type="number" placeholder="Optional..." class="form-control bg-dark text-light border-secondary">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="carbs">Carbs (g)</label>
                    <input id="carbs" type="number" placeholder="Optional..." class="form-control bg-dark text-light border-secondary">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="fat">Fat (g)</label>
                    <input id="fat" type="number" placeholder="Optional..." class="form-control bg-dark text-light border-secondary">
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="fiber">Fiber (g)</label>
                    <input id="fiber" type="number" placeholder="Optional..." class="form-control bg-dark text-light border-secondary">
                  </div>
                </div>
                <div class="text-end -dark">
                  <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#addFoodCollapse">Cancel</button>
                  <button type="button" class="btn btn-primary" (click)="addFood()" [disabled]="nameExists || caloriesEmpty">Save Food</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Food List -->
        <div class="list-group">
          <div *ngFor="let food of foods" class="mb-2">
            <div class="d-flex justify-content-between align-items-center p-2 rounded bg-light-subtle" 
                 role="button" 
                 data-bs-toggle="collapse" 
                 [attr.data-bs-target]="'#foodCollapse' + food.id" 
                 aria-expanded="false" 
                 [attr.aria-controls]="'foodCollapse' + food.id">
              <div class="d-flex align-items-center">
                <span class="fw-bold">{{food.name}}</span>
                <span class="badge text-bg-primary mx-2">{{food.calories}} kcal</span>
              </div>
              <i class="bi bi-chevron-down"></i>
            </div>
            <div class="collapse" [id]="'foodCollapse' + food.id">
              <div class="card card-body bg-dark text-light">
                <div class="d-flex justify-content-start align-items-center">
                  <div class="ms-2" style="width: 100px; height: 100px; position: relative;">
                    <canvas [id]="'chart-' + food.id"></canvas>
                  </div>
                  <div class="flex-fill mx-4">
                    <div>
                      Protein: <span [innerHTML]="food.protein ? food.protein + 'g' : '<strong> - </strong>'"></span> 
                    </div>
                    <div>
                      Carbs: <span [innerHTML]="food.carbs ? food.carbs + 'g' : '<strong> - </strong>'"></span> 
                    </div>
                    <div>
                      Fat: <span [innerHTML]="food.fat ? food.fat + 'g' : '<strong> - </strong>'"></span> 
                    </div>
                    <div>
                      Fiber: <span [innerHTML]="food.fiber ? food.fiber + 'g' : '<strong> - </strong>'"></span>
                    </div>
                  </div>
                  <div>
                    <button class="btn btn-sm btn-outline-info me-2">
                      <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteFood(food.name)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

